@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> signInManager;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a class="btn btn-primary" asp-action="AddForum" asp-controller="Forum">Add Forum</a>

<form method="post">
    @if (signInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <button asp-action="Initialize" asp-controller="Home" type="submit" class="btn btn-primary" style="width:auto">Switch to User</button>
        }
        else
        {
            <button asp-action="Initialize" asp-controller="Home" type="submit" class="btn btn-primary" style="width:auto">Switch to Admin</button>
        }
    }

</form>